.order .row form {
    flex: 1 1 50rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 5rem auto;
}

.order .row form p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputBox input {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    width: 49%;
}


@media screen and (max-width: 800px) {
    .order .row form p {
        font-size: 1.4rem;
    }
}