.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom, #c7eef5, #c3a9ff, #40005d);
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6rem;
}

.home .content h3 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 2px 3px #555;
}

.home .content p {
  font-size: 1.7rem;
  color: #000;
  padding: 1rem 0;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}
