header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #fff; */
  background: linear-gradient(to left, #c7eef5, #c3a9ff);
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

header .navbar a {
  font-size: 2.2rem;
  color: #666;
  text-shadow: 0 2px 3px #fff;
  margin-left: 2rem;
  transition: 0.2s;
}

header .navbar a:hover {
  color: var(--red);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: none;
    background: linear-gradient(to left, #c7eef5, #c3a9ff);
    transition: display 0.3s ease-out;
  }

  header .navbar.active {
    display: initial;
  }

  header .navbar a {
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
    border: 0.2rem solid #666;
    border-left: 0.5rem solid var(--red);
    background: linear-gradient(to left, #c7eef5, #c3a9ff);
    color: #fff;
    text-shadow: 0 2px 3px #888;
  }
}
