section {
  padding: 2rem 9%;
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
  margin-bottom: 5rem;
  text-decoration: underline;
}

.heading span {
  color: var(--red);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  color: #000;
  background-color: #c7eef5;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #2a2a2a;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}
